.info__title {
    padding-bottom: 5px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
}

.info__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 210px;
    padding: 40px;
    @media screen and (min-width: 320px) and (max-width: 678px) {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 30px;
        width: 323px;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 678px) and (max-width: 1200px) {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 30px;
        width: 678px;
        flex-wrap: wrap;
    }
}

.info__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 320px) and (max-width: 678px) {
        align-items: flex-start;
        width: 220px;   
    }
}

.info__link {
    color: rgb(57, 57, 57);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
        color: var(--main-color);
    }
}

.contacts-item {
    @media screen and (min-width: 678px) and (max-width: 1200px) {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacts__item {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms linear;
    &:hover {
        border: none;
        background-color: var(--main-color);
    }
    &:hover > .contacts__svg {
        fill: white;
    }
}

.contacts__svg {
    fill: rgb(57, 57, 57);
}