.recommendations__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width: 320px) and (max-width: 1200px) {
        justify-content: center;
        padding-bottom: 20px;
    }
}

.recommendations__item {
    outline: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    background-color: white;
    transition: box-shadow 150ms linear;
    &:hover {
        box-shadow: 0px 5px 4px 1px rgba(191,191,191,1);
        outline: none;
    }
}

.card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 210px;
    height: 340px;
    padding: 15px;

}

.card__img {
    min-width: 120px;
    max-width: 210px;
    height: 130px;
    border-radius: 4px;
}

.card__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: rgb(57, 57, 57);
    margin: 10px 0;
    text-align: center;
    max-width: 164px;
    &:hover {
        color: var(--main-color);
        text-decoration: underline;
    }
}

.card__description {
    max-width: 164px;
    max-height: 60px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgb(98, 98, 98);
    text-align: center;
}

.card__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.card__link {
    cursor: pointer;
    border-radius: 8px;
    min-width: 100px;
    max-width: 170px;
    min-height: 35px;
    max-height: 40px;
    color: rgb(57, 57, 57);
    background-color: white;
    border: none;
    outline: 1px solid rgb(169, 169, 169);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    transition: background-color 150ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    &:hover {
        background-color: var(--main-color);
        outline: none;
        color: white;
    }
}

.card__price {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    color: var(--main-color);
}

.card__price > .currency {
    color: rgb(57, 57, 57);
}